<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | MY BLOG</title>
    <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?{{ q[0] }}">
  </head>
  <body class="bg-light">
    <div class="container">
      <header>
      <nav class="navbar navbar-expand-lg navbar-light rounded">
        <a class="text-white navbar-brand" href="{{ url_for('index') }}">MY BLOG</a>
          <ul class="nav navbar-nav navbar-right">
            {% if not session.logged_in %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">制作物</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('display_gettweet') }}">ツイートを過去から遡る</a>
                <a class="dropdown-item" href="{{ url_for('display_getimage') }}">ツイッター画像を過去から遡る</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="text-white nav-link" href="{{ url_for('login') }}">ログイン</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle text-white" role="button" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">制作物</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('display_gettweet') }}">ツイートを過去から遡る</a>
                <a class="dropdown-item" href="{{ url_for('display_getimage') }}">ツイート画像を過去から遡る</a>
              </div>
            </li>
            <li>
              <a class="text-white nav-link" href="{{ url_for('post_menu') }}">新規投稿</a>
            </li>
            <li>
              <a class="text-white nav-link" href="{{ url_for('logout') }}">ログアウト</a>
            </li>
            {% endif %}
          </ul>
      </nav>
      </header>

      {% for message in get_flashed_messages() %}
      <div class="alert alert-dark" role="alert">
        {{ message }}
      </div>
      {% endfor %}

      {% block login %}
      {% endblock %}

      {% block body %}
      {% endblock %}
      <!--end of container-->
    </div>
  </body>
</html>
